@font-face {
    font-family: ProximaNova;
    src: url("/src/fonts/Proxima_Nova_reg.ttf") format("truetype");
  }

  @font-face{
    font-family: ProximaNova-Bold;
    src: url("/src/fonts/Proxima_Nova_Bold.ttf") format("truetype");
  }

#AboutOurTeam{
    width: 100%;
    height: 650px;
}

#group{
    width: 600px;
    height: auto;
}

#aboutimage{
    text-align: center;
    top: 18%;
    margin-left: -20px;
}

#aboutdescription{
    top: 27%;
    margin-left: -45px;
}

#abouttitle{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    font-size: 3.5rem;
    color: #5A5A5A;
}

#aboutdescrip{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.9rem;
    color: #5A5A5A;
    padding-top: 20px;
    padding-right: 10px;
    line-height: 3.5rem;
}

.members{
    background-color: #162857;
    width: 100%;
    height: 800px;
}

.memberstitle{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    font-size: 4.5rem;
    color: #FFFFFF;
    background-color: #162857;
    width: 100%;
    padding-left: 170px;
    padding-top: 70px;
    padding-bottom: 20px;
}

#james{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#omid{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#gennifer{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#minhtu{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#ke{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#kiran{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#john{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#salma{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#elizabeth{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}

#prabhdeep{
    width: 170px;
    height: auto;
    border-radius: .5rem;
}
.name{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    font-size: 1.6rem;
    color:  white;
    padding-top: 8px;
}

.position{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.5rem;
    color:  white;
    padding-top: 1px;
}

.footer{
    width: 100%;
    height: 125px;
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 2rem;
    color: #162857;
    text-align: center;
    padding-top: 55px;
}
.footertext{
}

.footerCatalog{
    padding-right: 20rem;
}

.footerGrades{
    padding-right: 20rem;
}
.footerEnrollment{
    padding-right: 20rem;
}

.footerAbout{
}