@font-face {
    font-family: ProximaNova;
    src: url("/src/fonts/Proxima_Nova_reg.ttf") format("truetype");
    font-family: ProximaNova-Bold;
    src: url("/src/fonts/Proxima_Nova_Bold.ttf") format("truetype");
  }

html{
    scroll-behavior: smooth;
    font-size: 10px;
}
#filtertitle{
    size: large;
    text-align: center;
}
.page{
    width: 100%;
    height: auto;
}

#splitleft{
    padding-right: 2rem;
}

#splitright{
    padding-top: 6rem;
}

#filterbutton{
    background-color: transparent; /* Green */
    border: none;
    margin-top: -4px;
}

#filter_right{
    display: none;
    margin-left: 10px;
    float: center;
}

#addgap{
    margin-left: 6rem;
}

.filtertitle{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    font-size: 3rem;
    padding-bottom: 3rem;
}

#quartertitle{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
}

#quarterboxes{
    padding-top: 1rem;
}

#quar{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.5rem;
    padding-right: 2.8rem;
}
#checktext{
    padding-right: 0.8rem;
}

#searchbar{
    height: 4rem;
}

#title{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
    padding-top: 1.8rem;
    padding-bottom: 0.5rem;
}

#dropdown-basic{
    background-color: transparent;
    border-color: #BEBEBE;
    font-family: "ProximaNova", "Helvetica Neue";
    color: #162857;
    font-size: 1.5rem;
    margin-top: 1rem;
    height: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
    float: right;
}


#corebox{
    border: 1px solid #BEBEBE;
    padding: 2rem;
}

#extrafeatures{
    display: none;
}



.coretitle{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
    padding-top: 1.8rem;
    padding-bottom: 0.5rem;
}

#core{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
    padding-right: 2.8rem;
}

#coretext{
    padding-left: 2rem;
}

.getitle{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
    padding-top: 1.8rem;
    padding-bottom: 0.5rem;
}

#gebox{
    border: 1px solid #BEBEBE;
    padding: 2rem;
}

#ge{
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 1.8rem;
    padding-right: 2.8rem;
}

#getext{
    padding-left: 2rem;
}

#AdvancedButton{
    margin-top: 3rem;
    background-color: transparent; /* Green */
    border: none;
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    color: #162857;
    font-size: 1.6rem;
    margin-left: -0.5rem;
    margin-bottom: 6rem;
    display: inline;
}

#AdvancedButton2{
    display: none;
    margin-top: 3rem;
    background-color: transparent; /* Green */
    border: none;
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    color: #162857;
    font-size: 1.6rem;
    margin-left: -0.5rem;
    margin-bottom: 6rem;
}

#AdvancedText{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    color: #162857;
    font-size: 1.6rem;
}

#AdvancedText2{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    color: #162857;
    font-size: 1.6rem;
}

#GoButton{
    font-family: "ProximaNova-Bold", "Helvetica Neue";
    color: #162857;
    font-size: 1.6rem;
    background-color: transparent; /* Green */
    margin-top: 3rem;
    margin-left: -0.5rem;
    margin-bottom: 6rem;
}

.card{
    font-family: "ProximaNova", "Helvetica Neue";
    height: auto;
    width: auto;
    border: none;
    margin-left: 8%;
    /*padding-bottom: 10px;*/
}
 
.left_side{
    width: 100%;
    height: auto;
}
.unit-right { 
    margin-top: 25px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
}; 

.left-content{
    overflow: auto;
}

.right-content{
    height: 100vh;
    border-left: 1px solid #BEBEBE;
}

.right-text{
    font-family: "ProximaNova", "Helvetica Neue";
    color: #5A5A5A;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 20%;
     
}

.line-1{
    margin-bottom: 3px;
}

.line-2{
    margin-top: -5px;
}

#catalog_cow{
    height: 125px;  
    width: auto; 
}

.footer{
    width: 100%;
    height: 125px;
    font-family: "ProximaNova", "Helvetica Neue";
    font-size: 2rem;
    color: #162857;
    text-align: center;
    padding-top: 55px;
}

.right-content{
    height: 100vh;
    border-left: 1px solid #BEBEBE; 
}

.footertext{
    color: #162857;
}

.footerCatalog{
    padding-right: 20rem;
}

.footerGrades{
    padding-right: 20rem;
}
.footerEnrollment{
    padding-right: 20rem;
}
