#navbar{
    font-family: "Proxima Nova", "Helvetica Neue";
    background-color: #162857;
    overflow: auto;
}
#navlinks{
    font-family: "Proxima Nova", "Helvetica Neue";
    color: #FFFFFF;
    margin: 0;
}